---
import BaseLayout from '../layouts/BaseLayout.astro';
import PerInstAttr from '../components/PerInstAttr.astro';
import PerInstAttrData from '../components/PerInstAttrData.astro';
---
<BaseLayout>

  <a href="/cssom/">CSSOM Page</a>

  <h1>Unsafe-inline Layout</h1>

  <PerInstAttr color="blue" underline="underline">
    <p>Text should be blue and underlined (using data define:vars).</p>
  </PerInstAttr>

  <PerInstAttr color="green" underline="none">
    <p>Text should be green and not underlined (using data define:vars).</p>
  </PerInstAttr>

  <PerInstAttr color="#ff00ff" underline="wavy underline">
    <p>Text should be fuchsia and have a wavy underline (using data define:vars).</p>
  </PerInstAttr>

  <hr>

  <PerInstAttrData color="purple" underline="underline">
    <p>Text should be purple and underlined (using data attributes).</p>
  </PerInstAttrData>

  <PerInstAttrData color="orange" underline="none">
    <p>Text should be orange and not underlined (using data attributes).</p>
  </PerInstAttrData>

  <PerInstAttrData color="red" underline="dotted underline">
    <p>Text should be red and have a dotted underline (using data attributes).</p>
  </PerInstAttrData>

</BaseLayout>